/* ОБНУЛЕНИЕ СТИЛЕЙ */
/*
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

*/
div p {
	color:blue;
}



.history p {
	color: red;
}

body p {
	color:blue;
}

.history_p{
	color:aqua;
}
.history_p{
	color:navy;
}
.history span{
	color: yellow;
}

/*
.technologies {
	color:darkorange;
}
.extension_procedure {
	color:brown;
	font-size: 18px;
}

header{
	color:yellowgreen;	
}

*/